## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
*.userprefs

## Visual Studio
.vs/
*.csproj.user

## JetBrains Rider
.idea/
*.sln.iml

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## AutoCAD specific
*.dll
*.arx
*.dbx

## Build artifacts / Release
AcLayerStandardizer.bundle/
AcLayerStandardizer_*.zip
